In [10]:
import numpy as np
import pandas as pd

In [13]:
d1 = {
        'Type':[
            'int8',
            'uint8',
            'int16',
            'uint16',
            'int or int32',
            'uint32',
            'int64',
            'uint64',
            'float16',
            'float32',
            'float or float64',
            'complex64',
            'complex or complex128',
            'bool',
            'object',
            'string_',
            'unicode',
        ],
        'Type Code':[
            'i1',
            'u1',
            'i2',
            'u2',
            'i4 or i',
            'u4',
            'i8',
            'u8',
            'f2',
            'f4 or f',
            'f8 or d',
            'f16 or g',
            'c8',
            'c16',
            None,
            'O',
            'S',
            'U',
        ]
    }

In [42]:
dtype = pd.DataFrame.from_dict([[d1]])

In [43]:
dtype

                                                   0
0  {'Type': ['int8', 'uint8', 'int16', 'uint16', ...

In [44]:
np.sum([1,3])

4

In [45]:
np.sum([1,2,3,4])

10

In [46]:
sum([3,4,5])

12

In [47]:
def abc():
    print("Hello World")
    
def abc():
    print("Hello Pakistan")
    
abc()

Hello Pakistan

In [48]:
np.__version__

'1.18.1'

In [49]:
!pip install --upgrade numpy

Collecting numpy
  Downloading numpy-1.18.4-cp37-cp37m-win_amd64.whl (12.8 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.18.1
    Uninstalling numpy-1.18.1:
      Successfully uninstalled numpy-1.18.1

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\users\\zeeshan\\anaconda3\\lib\\site-packages\\~umpy\\core\\_multiarray_tests.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [50]:
numpy.__version__

'1.18.1'

In [51]:
%history

Hello
import numpy
import pandas
import numpy as np
import pandas as pd
import numpy as np
import pandas as pd
dtype = pd.DataFrame(
{
    'Type':[
        'int8',
        'uint8',
        'int16',
        'uint16',
        'int or int32',
        'uint32',
        'int64',
        'uint64',
        'float16',
        'float32',
        'float or float64',
        'complex64',
        'complex or complex128',
        'bool',
        'object',
        'string_',
        'unicode',
    ],
    'Type Code':[
        'i1',
        'u1',
        'i2',
        'u2',
        'i4 or i',
        'u4',
        'i8',
        'u8',
        'f2',
        'f4 or f',
        'f8 or d',
        'f16 or g',
        'c8',
        'c16',
        None,
        'O',
        'S',
        'U',
    ]
})
dtype = pd.DataFrame(
{
    'Type':[
        'int8',
        'uint8',
        'int16',
        'uint16',
        'int or int32',
        'uint32',
        'int64',
        'uint64',
        'float16',
        'float32',
        'float or float64',
        'complex64',
        'complex or complex128',
        'bool',
        'object',
        'string_',
        'unicode',
    ],
    'Type Code':[
        'i1',
        'u1',
        'i2',
        'u2',
        'i4 or i',
        'u4',
        'i8',
        'u8',
        'f2',
        'f4 or f',
        'f8 or d',
        'f16 or g',
        'c8',
        'c16',
        None,
        'O',
        'S',
        'U',
    ]
}
)
dtype = pd.DataFrame(
{
    'Type':[
        'int8',
        'uint8',
        'int16',
        'uint16',
        'int or int32',
        'uint32',
        'int64',
        'uint64',
        'float16',
        'float32',
        'float or float64',
        'complex64',
        'complex or complex128',
        'bool',
        'object',
        'string_',
        'unicode'
    ],
    'Type Code':[
        'i1',
        'u1',
        'i2',
        'u2',
        'i4 or i',
        'u4',
        'i8',
        'u8',
        'f2',
        'f4 or f',
        'f8 or d',
        'f16 or g',
        'c8',
        'c16',
        None,
        'O',
        'S',
        'U'
    ]
}
)
dtype = pd.DataFrame(
    {
        'Type':[
            'int8',
            'uint8',
            'int16',
            'uint16',
            'int or int32',
            'uint32',
            'int64',
            'uint64',
            'float16',
            'float32',
            'float or float64',
            'complex64',
            'complex or complex128',
            'bool',
            'object',
            'string_',
            'unicode'
        ],
        'Type Code':[
            'i1',
            'u1',
            'i2',
            'u2',
            'i4 or i',
            'u4',
            'i8',
            'u8',
            'f2',
            'f4 or f',
            'f8 or d',
            'f16 or g',
            'c8',
            'c16',
            None,
            'O',
            'S',
            'U'
        ]
    }
)
import numpy as np
import pandas as pd
dtype = pd.DataFrame(
    {
        'Type':[
            'int8',
            'uint8',
            'int16',
            'uint16',
            'int or int32',
            'uint32',
            'int64',
            'uint64',
            'float16',
            'float32',
            'float or float64',
            'complex64',
            'complex or complex128',
            'bool',
            'object',
            'string_',
            'unicode'
        ],
        'Type Code':[
            'i1',
            'u1',
            'i2',
            'u2',
            'i4 or i',
            'u4',
            'i8',
            'u8',
            'f2',
            'f4 or f',
            'f8 or d',
            'f16 or g',
            'c8',
            'c16',
            None,
            'O',
            'S',
            'U'
        ]
    }
)
dtype = pd.DataFrame(
    {
        'Type':[
            'int8',
            'uint8',
            'int16',
            'uint16',
            'int or int32',
            'uint32',
            'int64',
            'uint64',
            'float16',
            'float32',
            'float or float64',
            'complex64',
            'complex or complex128',
            'bool',
            'object',
            'string_',
            'unicode',
        ],
        'Type Code':[
            'i1',
            'u1',
            'i2',
            'u2',
            'i4 or i',
            'u4',
            'i8',
            'u8',
            'f2',
            'f4 or f',
            'f8 or d',
            'f16 or g',
            'c8',
            'c16',
            None,
            'O',
            'S',
            'U',
        ]
    }
)
d1 = {
        'Type':[
            'int8',
            'uint8',
            'int16',
            'uint16',
            'int or int32',
            'uint32',
            'int64',
            'uint64',
            'float16',
            'float32',
            'float or float64',
            'complex64',
            'complex or complex128',
            'bool',
            'object',
            'string_',
            'unicode',
        ],
        'Type Code':[
            'i1',
            'u1',
            'i2',
            'u2',
            'i4 or i',
            'u4',
            'i8',
            'u8',
            'f2',
            'f4 or f',
            'f8 or d',
            'f16 or g',
            'c8',
            'c16',
            None,
            'O',
            'S',
            'U',
        ]
    }
d1
dtype = pd.DataFrame(d1)
len(d1)
d1.keys()
d1.values()
d2 = {'name':'Hassan',
     'fname':'Tariq',
     'DOB':'30-01-1994'}
d3 = pd.DataFrame(d2)
d3 = pd.DataFrame.from_dict(d2)
d3 = pd.DataFrame.from_dict(d2, orient = 'index')
d3
d3 = pd.DataFrame(d2, orient = 'index')
dtype = pd.DataFrame.from_dict(d1, orient = 'index')
dtype
dtype = pd.DataFrame.from_dict(d1, orient = 'columns')
dtype = pd.DataFrame.from_dict(d1, orient = 'index')
dtype
dtype = pd.DataFrame.from_dict(d1, columns=['A', 'B'], orient = 'index')
dtype = pd.DataFrame.from_dict(d1, columns=['A'], orient = 'index')
dtype = pd.DataFrame.from_dict(d1, columns=['A','B','C'], orient = 'index')
dtype = pd.DataFrame(d1.items())
dtype
dtype = pd.DataFrame(d1.items(), columns=['Date', 'DateValue'])
dtype
dtype = pd.DataFrame(d1.items(), columns=['D', 'DateValue','b','h'])
dtype = pd.DataFrame([d1])
dtype
dtype = pd.DataFrame([[d1]])
dtype
dtype = pd.DataFrame.from_dict([[d1]])
dtype
np.sum([1,3])
np.sum([1,2,3,4])
sum([3,4,5])
def abc():
    print("Hello World")

def abc():
    print("Hello Pakistan")

abc()
np.__version__
!pip install --upgrade numpy
numpy.__version__
%history

In [56]:
%time list(range(2000000))[:20]

Wall time: 87.8 ms

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [57]:
%time np.arange(2000000)[:20]

Wall time: 5.01 ms

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [58]:
%time [x+5 for x in range(1,1000000)][:20]

Wall time: 152 ms

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [59]:
l = list(range(1,1000000))
l2 = list(enumerate(l))
for i,v in l2:
    l[i] = l[i]+5
l[:20]
%time

Wall time: 0 ns

In [60]:
a = np.array([[1,2,3],
             [4,5,6],
             [7,8,9]])
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [61]:
type(a)

numpy.ndarray

In [62]:
a.shape

(3, 3)

In [65]:
np.arange(0,10).reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [79]:
np.arange(30)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [80]:
np.arange(30)[:16]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [81]:
np.arange(30)[:16].reshape(8,2)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15]])

In [82]:
np.arange(30)[:16].reshape(2,8)

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15]])

In [83]:
np.arange(30)[:16].reshape(4,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [86]:
np.arange(30)[14:].reshape(4,4)

array([[14, 15, 16, 17],
       [18, 19, 20, 21],
       [22, 23, 24, 25],
       [26, 27, 28, 29]])

In [87]:
np.arange(30)[14:].reshape(8,2)

array([[14, 15],
       [16, 17],
       [18, 19],
       [20, 21],
       [22, 23],
       [24, 25],
       [26, 27],
       [28, 29]])

In [88]:
np.arange(30)[10:26].reshape(4,4)

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21],
       [22, 23, 24, 25]])

In [89]:
np.arange(30)[10:26].reshape(2,8)

array([[10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25]])

In [90]:
np.arange(30)[10:26].reshape(8,2)

array([[10, 11],
       [12, 13],
       [14, 15],
       [16, 17],
       [18, 19],
       [20, 21],
       [22, 23],
       [24, 25]])

In [91]:
np.arange(30)[10:26:2].reshape(4,2)

array([[10, 12],
       [14, 16],
       [18, 20],
       [22, 24]])

In [92]:
np.arange(30)[10:26:2].reshape(2,4)

array([[10, 12, 14, 16],
       [18, 20, 22, 24]])

# Now 3 and higher Dimension Array Splitting

In [93]:
np.arange(30)[10:26:2].reshape(2,2,2)

array([[[10, 12],
        [14, 16]],

       [[18, 20],
        [22, 24]]])

In [94]:
np.arange(27).reshape(3,3,3)

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [96]:
np.arange(64).reshape(4,4,4)

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31]],

       [[32, 33, 34, 35],
        [36, 37, 38, 39],
        [40, 41, 42, 43],
        [44, 45, 46, 47]],

       [[48, 49, 50, 51],
        [52, 53, 54, 55],
        [56, 57, 58, 59],
        [60, 61, 62, 63]]])

In [97]:
np.arange(125).reshape(5,5,5)

array([[[  0,   1,   2,   3,   4],
        [  5,   6,   7,   8,   9],
        [ 10,  11,  12,  13,  14],
        [ 15,  16,  17,  18,  19],
        [ 20,  21,  22,  23,  24]],

       [[ 25,  26,  27,  28,  29],
        [ 30,  31,  32,  33,  34],
        [ 35,  36,  37,  38,  39],
        [ 40,  41,  42,  43,  44],
        [ 45,  46,  47,  48,  49]],

       [[ 50,  51,  52,  53,  54],
        [ 55,  56,  57,  58,  59],
        [ 60,  61,  62,  63,  64],
        [ 65,  66,  67,  68,  69],
        [ 70,  71,  72,  73,  74]],

       [[ 75,  76,  77,  78,  79],
        [ 80,  81,  82,  83,  84],
        [ 85,  86,  87,  88,  89],
        [ 90,  91,  92,  93,  94],
        [ 95,  96,  97,  98,  99]],

       [[100, 101, 102, 103, 104],
        [105, 106, 107, 108, 109],
        [110, 111, 112, 113, 114],
        [115, 116, 117, 118, 119],
        [120, 121, 122, 123, 124]]])

In [101]:
np.arange(216).reshape(6,6,6)

array([[[  0,   1,   2,   3,   4,   5],
        [  6,   7,   8,   9,  10,  11],
        [ 12,  13,  14,  15,  16,  17],
        [ 18,  19,  20,  21,  22,  23],
        [ 24,  25,  26,  27,  28,  29],
        [ 30,  31,  32,  33,  34,  35]],

       [[ 36,  37,  38,  39,  40,  41],
        [ 42,  43,  44,  45,  46,  47],
        [ 48,  49,  50,  51,  52,  53],
        [ 54,  55,  56,  57,  58,  59],
        [ 60,  61,  62,  63,  64,  65],
        [ 66,  67,  68,  69,  70,  71]],

       [[ 72,  73,  74,  75,  76,  77],
        [ 78,  79,  80,  81,  82,  83],
        [ 84,  85,  86,  87,  88,  89],
        [ 90,  91,  92,  93,  94,  95],
        [ 96,  97,  98,  99, 100, 101],
        [102, 103, 104, 105, 106, 107]],

       [[108, 109, 110, 111, 112, 113],
        [114, 115, 116, 117, 118, 119],
        [120, 121, 122, 123, 124, 125],
        [126, 127, 128, 129, 130, 131],
        [132, 133, 134, 135, 136, 137],
        [138, 139, 140, 141, 142, 143]],

       [[144, 145, 146, 147, 148, 149],
        [150, 151, 152, 153, 154, 155],
        [156, 157, 158, 159, 160, 161],
        [162, 163, 164, 165, 166, 167],
        [168, 169, 170, 171, 172, 173],
        [174, 175, 176, 177, 178, 179]],

       [[180, 181, 182, 183, 184, 185],
        [186, 187, 188, 189, 190, 191],
        [192, 193, 194, 195, 196, 197],
        [198, 199, 200, 201, 202, 203],
        [204, 205, 206, 207, 208, 209],
        [210, 211, 212, 213, 214, 215]]])

In [104]:
a = np.arange(1,28).reshape(3,3,3)

a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [105]:
a = np.arange(1,28).reshape(3,3,3)
a = a%2
a

array([[[1, 0, 1],
        [0, 1, 0],
        [1, 0, 1]],

       [[0, 1, 0],
        [1, 0, 1],
        [0, 1, 0]],

       [[1, 0, 1],
        [0, 1, 0],
        [1, 0, 1]]], dtype=int32)

In [113]:
a = np.random.randn(4,3,3,2)
print(a.ndim)
print(a.shape)
a = a*10
a

4
(4, 3, 3, 2)

array([[[[ 12.06616767,  10.76147026],
         [  1.2751145 ,  -2.91578217],
         [  8.23066602,   1.28160085]],

        [[  0.89992678,  13.15694246],
         [ 11.74126491,   6.91614954],
         [ -2.13133045,   0.08437333]],

        [[-32.81461798, -26.42800538],
         [ -9.06320706,  15.39886927],
         [-16.01559751,  13.95195347]]],


       [[[ -2.23952434,   6.41685134],
         [ -5.24520865,  11.2013494 ],
         [  9.03993882,   9.82511797]],

        [[  7.59596578, -10.15481527],
         [ 14.69819074,   8.62986501],
         [  5.4260293 ,  14.9287082 ]],

        [[ -0.47920803,   0.79328157],
         [ -1.08577311,  10.51336179],
         [  0.30133543,  -1.27581347]]],


       [[[ 10.54617796,  -4.09871579],
         [  4.02175028,  23.19430803],
         [ 13.95254021, -10.15643038]],

        [[ -4.07076255,  -2.53009028],
         [ 11.14432797,  -2.05869193],
         [ -4.39535613, -18.80318474]],

        [[ 14.74099254,  -0.98158867],
         [ -2.98336129,   2.32707118],
         [ 16.09513485,  -9.98368823]]],


       [[[  9.96353243,  -6.98197893],
         [  2.39273412,  -7.31407524],
         [ 11.36672812,  -5.68817994]],

        [[  5.38846726,   2.42132568],
         [ -1.67755958, -13.99632528],
         [ 25.22791678,   9.33429087]],

        [[  6.93348508,  -9.34152079],
         [-11.79296473,  12.64921938],
         [ -0.09875651, -10.96187937]]]])

In [115]:
a = np.arange(1,13).reshape(6,2)
print(a)

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]]

In [116]:
print(a*a)

[[  1   4]
 [  9  16]
 [ 25  36]
 [ 49  64]
 [ 81 100]
 [121 144]]

In [119]:
a[2,0]

5

In [121]:
 l = np.arange(1,1000000)
l = l+5
l

array([      6,       7,       8, ..., 1000002, 1000003, 1000004])

# Dimensions

In [122]:
a = np.array([1])
print(a)
print(a.ndim)
print(a.shape)
print(a.dtype)

[1]
1
(1,)
int32

In [123]:
a = np.array([1,2,3,4,5])
print(a)
print(a.ndim)
print(a.shape)
print(a.dtype)

[1 2 3 4 5]
1
(5,)
int32

In [124]:
a = np.array([[1,2,4],
              [3,5,6],
              [2,1,5]])
print(a)
print(a.ndim)
print(a.shape)
print(a.dtype)

[[1 2 4]
 [3 5 6]
 [2 1 5]]
2
(3, 3)
int32

In [125]:
a.ndim

2

#  Creating ndarrays

In [126]:
a  = [1,2,3]
print(type(a))

a = np.array(a)
type(a)

<class 'list'>

numpy.ndarray

In [127]:
a  = (1,2,3)
print(type(a))

a = np.array(a)
type(a)

<class 'tuple'>

numpy.ndarray

In [128]:
a  = {1,2,3}
print(type(a))

a = np.array(a)
type(a)

<class 'set'>

numpy.ndarray

# np.Array

In [131]:
l = [1,2,3]
a = np.array(l)
b = np.array(a)
a is b

False

In [132]:
l

[1, 2, 3]

In [133]:
a

array([1, 2, 3])

In [134]:
b

array([1, 2, 3])

In [136]:
a==b

array([ True,  True,  True])

### np.asarray

In [130]:
l = [1,2,3]
a = np.asarray(l)
b = np.asarray(a)
a is b

True